<html>
  <link rel="stylesheet" type="text/css" href="alarm.css">
  <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
<head>
</head>

<body>
<h1>SAT Question of the Day</h1>
<h2> Answer the question, or your alarm will ring for eternity!</h2>

<div class = "letter" id="question">
<%= question %>
</div>

<embed <%=song%> hidden="true" autoplay="true"></embed>
</body>

<html>