<!DOCTYPE html>
<html>
<head>
	<title>Alarm Clock</title>
</head>
<body>
<form method="post" action="/">
	<div>Please, set the alarm time</div><input type= "time" name="alarmTime">
	<input type="submit">				
</form>	

<%= currentAlarm  %>	


</body>
</html>
