@font-face {
  font-family: Clock;
  src: url(clock.ttf);
}       
 
#forecast_name {
  background: #333333;
  font-family: Clock;
  font-size: 24pt;
  color: #ffffff;
}

#txt {
  font-size: 200px;
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
}


/*  'Josefin Sans', sans-serif;*/